{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/reported">Back</a>

      <h1 class="heading-large">
        Ineligible
      </h1>

      <p>Sorry but you are not eligible for this service because you can only juggle 1-2 balls.</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
