{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Bike Reported
        </h1>
        <p class="font-large">
          Your crime reference number is <br>
          <strong class="bold">CRPLY198ER</strong>
        </p>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="heading-medium">What happens next</h2>
      <p>We have now logged your report to the police and they will contact you using the details you provided if they require
        further information. You can also ring the police non-emergency number 101 and quote your crime refrence number to track
        your cases progress.
      </p>

      <p>You can also provide this crime reference number to your insurance company to make a insurance cliam.</p>
      
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
